.menucontent {
    position: fixed;
    top: -100%; /* começa fora da tela (em cima) */
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    color: black;
    transition: top 0.6s ease-in-out; /* animação suave */
    z-index: 1000;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* quando ativo */
.menucontent.open {
    top: 0; /* desce e cobre toda a tela */
}

.menu a {
    color: inherit;
    text-decoration: none;
}


.menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    right: 20px;
    top: 20px;
    position: fixed;
    z-index: 1100; /* acima do menu */
    cursor: pointer;
}

.centerinfo {
    display: flex;
    flex-direction: column;
    font-family: 'Barracuda';
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
}
.navlist ul {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* espaço entre os itens */
    padding: 0;
    margin: 0;
    list-style: none;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.navlist li {
    display: inline-block; /* garante comportamento em linha */
}
