/* Faz a barra lateral ocupar a altura inteira */
.navbar {
    background-color: transparent !important;
    /* fundo transparente */
    border-bottom: none;
    /* sem borda */
    box-shadow: none;
}

.navbar-toggler {
    background-color: #07070762;
    /* cor de fundo (verde estilo ChatGPT) */
    border: none;
    /* sem borda */
    border-radius: 8px;
    /* bordas arredondadas */
    padding: 10px;
}

.offcanvas {
    width: 260px;
    /* largura fixa */
    background-color: #202123;
    /* cor do fundo parecida com a sidebar do ChatGPT */
    color: #fff;
    /* texto branco */
    border-right: 1px solid #2f2f2f;
    border-radius: 20px;
}

/* Cabeçalho da barra lateral */
.offcanvas-header {
    padding: 8px;
}

/* Título */
.offcanvas-title {
    font-size: 3rem;
    font-weight: 600;
    color: #ececec;
    justify-content: center;
    text-align: center;
    /* Centraliza o texto dentro do elemento */
    width: 100%;
}

/* Links principais */
.offcanvas-body .nav-link {
    color: #b0b0b0;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
}

    /* Hover dos links */
    .offcanvas-body .nav-link:hover {
        background-color: #2a2b32;
        color: #fff;
    }
