@page "/#/groupprojects"

<PageTitle>Group Projects</PageTitle>

<div class="a toast show">
    <h1>Nenhum Projeto Notável no Momento :(</h1>
    <h3>
        <a href="https://mail.google.com/mail/?view=cm&to=gafe.dev@gmail.com&su=Convite%20Para&body=Olá%2C%20Quero%20Te%20Convidar"
           target="_blank" class="btn btn-outline-dark mt-2">
            Enviar um Convite
        </a>
    </h3>

</div>


<style>
    .a {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 20% auto 0 auto;
        justify-content: center;
        background-color: rgba(3, 3, 3, 0.4);
        /* transparente */
        backdrop-filter: blur(5px);
        /* vidro fosco */
        border-radius: 20px;
        padding: 2rem;
        width: 69%;
        min-height: 200px;
        max-width: 100%;
        color: white;
        /* texto legível em cima do fundo */
        text-align: center;
    }
</style>